/* font-family: 'Lato', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Inter', sans-serif; */

body {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.hero__box-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url(assets/hand-plant.png);
  background-size: cover;
  /* grid */
  display: grid;
  place-items: center;
}
.hero__box-top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #9e6d52;
  width: 500px;
  height: 270px;
  /* grid */
  display: grid;
  place-items: center;
}
.hero__box-bottom-right {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  background-color: #0a846e;
  width: 500px;
  height: 270px;
  /* grid */
  display: grid;
  place-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  margin: 0;
  background-color: #ffffff;
  list-style: none;
  align-items: center;
  box-shadow: #e6ebea 0px 4px 4px 0;

  p {
    font-family: Maven Pro;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.main-top__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  h1 {
    font-family: Maven Pro;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    color: #0a846e;
    text-align: center;
  }
}

.main-top__content-box {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.content-box__circle-image {
  width: 377px;
  height: 377px;
  border-radius: 279px;
  background-color: #0a846e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box__text-container {
  grid-column: 7 / 10;
  grid-row: 2 / 3;
  width: 467px;
  height: 71px;

  h2 {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.content-box__button {
  width: 179px;
  height: 63px;
  border-radius: 9px;
  background-color: #0a846e;
  color: white;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  grid-column: 10 / 12;
  grid-row: 5 / 6;

  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
}
.content-box__line {
  background-color: #055647;
  width: 303.24px;
  height: 3px;
  grid-column: 5 / 12;
  grid-row: 7 / 8;
}
.main-mid__content-box {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.main-mid__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  h1 {
    font-family: Lato;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.main-mid__content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.main-box {
  width: 293.54px;
  height: 407px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bg-image {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}
.plant {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.title {
  grid-column: 1 / 2;
  grid-row: 7 / 8;

  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.date {
  grid-column: 4 / 8;
  grid-row: 7 / 8;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

.name {
  grid-row: 8 / 8;
  grid-column: 1 / 3;

  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.remove {
  grid-column: 4 / 8;
  grid-row: 8 / 8;
  background-color: #b93857;
  color: #ffffff;
  width: 96.88px;
  height: 30px;
  border-radius: 9px;

  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
}

.bottom_button-container {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    width: 157px;
    height: 63px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #0a846e;

    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
  }
}

.bottom__text-container {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.bottom__circle-container {
  width: 377px;
  height: 377px;
  border-radius: 279px;
  background-color: #0a846e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 8 / 10;
  grid-row: 2 / 6;
}

.text-container__info-text {
  grid-column: 2 / 8;
  grid-row: 3 / 5;

  h1 {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.text-container__button {
  grid-column: 2 / 6;
  grid-row: 5/ 6;
  width: 281px;
  height: 63px;
  border-radius: 8px;
  border: 0;
  background-color: #0a846e;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: 30px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
}

.footer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 590px;
  background-image: url(assets/hand-i-växter.png);
  background-size: cover;
  background-position: center;
}

.footer__container-left {
  width: 500px;
  height: 590px;
  background-color: rgba(0, 0, 0, 0.79);
  color: #ffffff;
  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container-left__text-container {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: Maven Pro;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.container-left__info {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 20px;

  p {
    font-family: Maven Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.info__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  p {
    margin-left: 20px;
  }
}
.info__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  p {
    margin-right: 20px;
  }
}

.footer__container-right {
  height: 590px;
  width: 500px;
  color: #ffffff;
  /* grid */
  display: grid;
  place-items: center;

  img {
    width: 189.88px;
    height: 186px;
  }
}
.footer__nav-container {
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  h3 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.mq-image-wrapper {
  display: none;
}
.mq-wrapper {
  display: none;
}
@media (max-width: 390px) {
  .wrapper {
    margin: 0 auto;
  }

  .hero {
    background-image: url(assets/hand-plant.png);
    background-size: cover;
    background-position: center;
    height: 390px;
  }
  .hero__box-top-right,
  .hero__box-bottom-right,
  .hero__box-left {
    display: none;
  }
  nav {
    display: none;
  }

  .mq-wrapper {
    width: 390px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  .logo {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-left: 10px;
    margin-top: 20px;
  }

  .burger {
    grid-column: 5 / 6;
    margin-left: 25px;
    margin-top: 10px;
  }

  .mq-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .brown-container {
    background-color: #9e6d52;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 195px;
    img {
      width: 111.44px;
      height: 124px;
    }
  }
  .green-container {
    background-color: #0a846e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 195px;

    img {
      width: 111.44px;
      height: 124px;
    }
  }

  .main-top__title-wrapper h1 {
    font-family: Maven Pro;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
  .main-top__content-box {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 390px;
    height: 500px;
    margin: 0 auto;
   
  }

  .content-box__circle-image {
    width: 241px;
    height: 241px;
    grid-column: 1 / 6;
    grid-row: 3;
    margin: auto;
    img {
      width: 126px;
      height: 124px;
    }
  }

  .content-box__line {
    display: grid;
    width: 202px;
    grid-column: 2 / 5;
    grid-row: 7 / 7;
    margin: auto;
  }

  .content-box__text-container {
    display: grid;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    width: 100%;
    h2 {
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
    }
    p {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .content-box__button {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    width: 98.63px;
    height: 34.71px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    border-radius: 9px;
    text-align: center;
    margin: auto;
  }
}
