body {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.hero__box-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url(assets/hand-plant.png);
  background-size: cover;
  /* grid */
  display: grid;
  place-items: center;
}
.hero__box-top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #9e6d52;
  width: 500px;
  height: 270px;
  /* grid */
  display: grid;
  place-items: center;
}
.hero__box-bottom-right {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  background-color: #0a846e;
  width: 500px;
  height: 270px;
  /* grid */
  display: grid;
  place-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
  margin: 0;
  background-color: #ffffff;
  list-style: none;
  align-items: center;
  box-shadow: #e6ebea 0px 4px 4px 0;
}

.main-top__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-top__content-box {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.content-box__circle-image {
  width: 377px;
  height: 377px;
  border-radius: 279px;
  background-color: #0a846e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box__text-container {
  grid-column: 7 / 10;
  grid-row: 2 / 3;
  width: 467px;
  height: 71px;
}
.content-box__button {
  width: 179px;
  height: 63px;
  border-radius: 9px;
  background-color: #0a846e;
  color: white;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  grid-column: 10 / 12;
  grid-row: 5 / 6;
}
.content-box__line {
  background-color: #055647;
  width: 303.24px;
  height: 3px;
  grid-column: 5 / 12;
  grid-row: 7 / 8;
}
.main-mid__content-box {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.main-mid__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-mid__content-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.main-box {
  width: 293.54px;
  height: 407px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bg-image {
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}
.plant {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.title {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

.date {
  grid-column: 4 / 8;
  grid-row: 7 / 8;
}

.name {
  grid-row: 8 / 8;
  grid-column: 1 / 3;
}

.remove {
  grid-column: 4 / 8;
  grid-row: 8 / 8;
  background-color: #b93857;
  color: #ffffff;
  width: 96.88px;
  height: 30px;
  border-radius: 9px;
}

.bottom_button-container {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    width: 157px;
    height: 63px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #0a846e;
  }
}

.bottom__text-container {
  display: grid;
  grid-template-columns: 75px repeat(11, 75px);
  grid-template-rows: 75px repeat(5, 75px);
  width: 911px;
  margin: 0 auto;
}

.bottom__circle-container {
  width: 377px;
  height: 377px;
  border-radius: 279px;
  background-color: #0a846e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: 8 / 10;
  grid-row: 2 / 6;
}

.text-container__info-text {
  grid-column: 2 / 8;
  grid-row: 3 / 5;
}

.text-container__button {
  grid-column: 2 / 6;
  grid-row: 5/ 6;
  width: 281px;
  height: 63px;
  border-radius: 8px;
  border: 0;
  background-color: #0a846e;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: 10px;
}
